# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Project
_LOCAL/
.env
.env.local
.env.*.local

# Build
dist/
build/

# Node
node_modules/
*.tsbuildinfo
.env.development.local
.env.test.local
.env.production.local
coverage/
